.tela-login {
    width: 30%;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

.card {
    border: none;
}

h1 {
    font-size: 25px;
    
}

h1, label {
    color: #518FD8;
    font-weight: bold;
}

.btn-success, .btn-success:active {
    background-color: #518FD8;
    border: none;
}

button {
    margin-top: 10px;
}

.registrar p {
    width: 30%;
    display: inline;
    word-wrap: break-word;
    padding: 50px;
}

.texto-azul {
    color: #518FD8;
    font-weight: bold;
}

.texto-link {
    color: rgb(182, 182, 11);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}